.registerBox {
    display:none;
    flex-direction: column;
    text-align: center;
    > *{
        margin: 0.7rem;
    }
    &__or{
        color: $color-pink;
    }
}

.registerBox__register{
    position: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid $color-pink;
    max-width: 150vh;
}

.registerBox__register--input{
    position: flex;
    text-align: center;
    border: 2px solid $color-pink;
    background-color: transparent;
    color: $color-pink;
    padding: 1rem 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    font-weight: 200;
    font-size: 2rem;
}

.registerBox__loging--button{
    position: flex;
    text-align: center;
    background-color: $color-pink;
    color: $color-primary;
    border: 2px solid $color-pink;
    padding: 1rem 11rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    text-align: center;
    cursor: pointer;
    font-weight: 200;
    font-size: 2rem;

}