.button_login {
    border: 2px solid $color-pink;
    background-color: transparent;
    color: $color-pink;
    padding: 1.5rem 6rem;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 2rem;
  }

  //reset general button style
  button{
    background-color: transparent;
    border: none;
    color: $color-primary;
    font-size: 6rem;
  }

 